<table>
  <thead>
    <tr>
      <th>launch time</th>
      <th>name</th>
      <th>state</th>
      <th>image-id</th>
      <th>instance-id</th>
    </tr>
  </thead>
  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.launch_time.strftime('%Y/%m/%d %H:%M:%S') %></td>
        <td><%= instance.name %></td>
        <td><%= instance.state %></td>
        <td><%= instance.image_id %></td>
        <td><%= instance.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
